---
---
@charset "utf-8";
@import "fonts";

/** Variables **********************************************/
$on-palm:                   600px;
$on-laptop:                 850px;

$base-font-family:          DroidSerif;
$header-font-family:        Oswald;
$base-font-size:            16px;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1.5;

$spacing-unit:              30px;
$horizontal-spacing-unit:   50px;
$vertical-spacing-unit:     40px;
$nav-height:                40px;

/* portfolio tinkering */
$card-border-radius:        4px;
$post-card-height:          156px;
$img_spacing:               5px; 
$img_height:                275px;
$caption_font_size:         12px;
$caption_color:             #aaa;

/* SHADOWS */
$shadow-default: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
$shadow-active: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

/* COLORS  */
$red:                       #FF3636;
$orange:                    #F29105;
$blue:                      #2698BA;
$green:                     #11D68B;
$lime_green:                #B7D12A;
$purple:                    #B509AC;

$grey-color:                #828282;
$grey-color-dark:           #333;   /* footer */
$grey-color-light:          #ddd;  /* navigation bar border */

$text-color:                #666;
$background-color:          #fafafa;
$background-darker:         #f0f0f0;
$brand-color:               #2a7ae2;

/* Set theme color *************************/
$theme-color:   $red;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "highlighting",
        "header",
        "footer",
        "pagination",
        "page",
        "post"
;