---
layout: default
button: home
title: ingenious-machines
description: My personal blog.
permalink: /
header_weight: 0
---
<!-- https://codepen.io/siiron/pen/Ipyuo?editors=1100 -->
<ul class="grid">

  {% assign current_column = 0 %}

  {% for post in paginator.posts %}

    {% if current_column >= 3 %}
      {% assign current_column = 0 %}
    {% endif %}

    {% if post.row_span %}
      {% assign row_span = post.row_span %}
    {% else %}
      {% assign row_span = 1 %}
    {% endif %}

    {% for i in (0..1) %}
      {% assign new_column = current_column | plus: row_span %}
      {% if new_column > 3 %}
        {% assign row_span = row_span | minus: 1 %}
      {% else %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% assign current_column = current_column | plus: row_span %}

    <li class="grid_item span__{{ row_span }}">
      <div class="post-card flow-direction">

        <a class="post-link"
           href="{{ post.url | prepend: site.baseurl }}"
           title="{{ post.title }}">
          <span></span>
        </a>

        {% if post.thumbnail %}
          <div class="post-thumbnail border-radius"
               style="background-image: url('img/{{ post.thumbnail }}');">
            <img src="img/{{ post.thumbnail }}" alt="thumbnail">
          </div>
        {% endif %}

        <div class="card-text-box">
          <h2 class="post-title">{{ post.title }}</h2>
          <p class="post-meta">
            {{ post.date | date: '%B %-d, %Y — %H:%M' }}
          </p>
          {% if post.thumbnail %}
            <p class="post-summary-with-thumbnail">{{ post.summary }}</p>
          {% else %}
            <p class="post-summary">{{ post.summary }}</p>
          {% endif %}

          {% if post.tags %}
          {% if post.tags.size > 0 %}
          <ul class="tag-list">
            {% for tag in post.tags %}
            <!-- <il><a href="blog/tags/#{{ tag | slugify }}"> {{ tag }} </a></il> -->
            <il>{{ tag }}</il>
            {% endfor %}
          </ul>
          {% endif %}
          {% endif %}
        </div>

      </div>
    </li>

  {% endfor %}
</ul>