/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



// Basic styling that applies to all of the body
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;

  .wrapper {
    max-width: calc(#{$on-laptop}*0.9 - #{$horizontal-spacing-unit});
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit/2;
    padding-left: $horizontal-spacing-unit/2;
    overflow: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$on-laptop}*0.7 - #{$horizontal-spacing-unit});
        padding-right: $horizontal-spacing-unit/2;
        padding-left: $horizontal-spacing-unit/2;
    }

    @include media-query($on-palm) {
        max-width: calc(#{$on-palm}*0.9 - (#{$horizontal-spacing-unit*0.5}));
        padding-right: $horizontal-spacing-unit / 10;
        padding-left: $horizontal-spacing-unit / 10;
    }
  }

  // Normal links are in the theme color without underline.
  // Specifically make the links in the article section with
  // underline like classical web links.
  a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $theme-color;
    }
  }

  /**
  * Headings
  */
  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
    font-weight: 300;
  }

  /* Inset, by Dan Eden */
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}
}

body article {
  // Set `margin-bottom` to maintain vertical rhythm
  p, blockquote, pre,
  ul, ol, dl, figure,
  %vertical-rhythm {
      margin-bottom: $vertical-spacing-unit / 2;
  }

  /**
  * Figures & Images
  */
  img {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: $card-border-radius;
    box-shadow: $shadow-default;
    background-color: #fff;
  }

  figure > img {
    display: block;
  }

  figcaption {
    font-size: $small-font-size;
  }

  /**
  * Tables
  */
  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    line-height: 1.25;
  }
  
  table th {
    font-weight: bold;
  }
  
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }

  /**
  * Lists
  */
  ul, ol {
    margin-left: $horizontal-spacing-unit;
  }

  li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
  }

  /**
  * Links
  */
  a {
    color: $theme-color;
    text-decoration: underline;
    
    // &:visited {
    //     color: darken($brand-color, 15%); 
    // }

    // &:hover {
    //     text-decoration: none;
    // }
  }

  /**
  * Blockquotes
  */
  blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: $horizontal-spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
  }

  /**
  * Code formatting
  */
  pre,
  code {
    font-family: monospace, monospace;
    font-size: 15px;
    background-color: $background-darker;
    border-radius: $card-border-radius;
  }

  code {
    padding: 1px 5px;
  }

  pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
  }

  div.highlight {
    background-color: $background-darker;
    border-radius: $card-border-radius;
    box-shadow: $shadow-default;

    pre,
    code {
      border-radius: 0;
      background-color: transparent;
    }
  }

  /**
  * Clearfix
  */
  %clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
  }
}