/**
 * Page content   **********************************************************
 */
.page-content {
  padding: $spacing-unit*(2/3) 0 $spacing-unit 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
  min-height: 100vh;
}

.contacticon {
  font-size: 46px;
  display:block;
  margin: 10px;
  line-height: 1;
  text-align: center;
}