/**
 * Page content   **********************************************************
 */
.page-content {
  padding: $spacing-unit 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
  line-height: $base-line-height;

  .col{ 
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img_spacing;
  }
}

.page-heading {
  font-size: 20px;
}

.contacticon {
  font-size: 60px;
  display:block;
  margin: 10px;
}

.center{
  text-align: center;
}