/**
 * Posts  **********************************************************
 */
.grid {
  background: pink;

  .grid_item {
    background: $background-color;  
    display: block;
    float: left;
    position: relative;
    transform: translate3d(0,0,0);
    transition: all .2s cubic-bezier(.4,0,.2,1);

    .post-card {
      padding: 10px;
      border-radius: 5px;
      background: #fff;
      border: 1px solid $grey-color-light;


      a {
        color: $text-color;
        display: block;
        margin-bottom: $spacing-unit/2;
    
        &:hover {
          color: $text-color;
          text-decoration: none;
        }
      }
      // &:visited {
      //     color: darken($brand-color, 15%); 
      // }

      &:hover {
        box-shadow: 0 2px 4px rgba(0,0,0,0.55);
        border: 1px solid $grey-color;
        // transform: translate(0, -1px);
      }

      a:last-child {
        margin-bottom: 0px;

        p:last-child {
          margin-bottom: 0px;
        }
      }

      .post-summary {
        font-size: 14px;
        margin-bottom: $spacing-unit/2;
      }

      .post-title {
        font-size: 22px;
      }
      
      .post-meta {
        margin-bottom: $spacing-unit/3;
      }
      
      .tag-list {
        font-family: $header-font-family;
        font-weight: 300;
        font-size: $small-font-size;
        height: $small-font-size*1.5;
        margin: 0;
      
        il {
          background: $grey-color-light;
          padding: 0px 5px;
          border-radius: 3px;
          display: inline-block;
      
          a {
            color: $text-color;
            margin-bottom: 0px;
      
            &:hover {
              color: $theme-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .span__1 {
    width: 25%;
    .grid_link {
      padding-bottom: 100%;
    }
  }
  
  .span__2 {
    width: 50%;
    .grid_link {
      padding-bottom: 50%;
    }
  }
  
  .span__4 {
    width: 100%;
    .grid_link {
      padding-bottom: 25%;
    }
  }
  
  @include media-query($on-palm) {
    .span__1,
    .span__2,
    .span__4{
      width: 100%;
      .grid_link {
        padding-bottom: 100%;
      }
    }
  }
  
  @include media-query($on-laptop) {
    .span__1,
    .span__2,
    .span__4{
      width: 49.545252%;
      .grid_link {
        padding-bottom: 100%;
      }
    }
  }
}

.post-header {
  margin-bottom: $vertical-spacing-unit;
}

.post-title {
  font-family: $header-font-family;
  font-weight: 300;
  line-height: 1;
}

.post-meta {
  font-family: $header-font-family;
  font-weight: 300;
  font-size: $small-font-size;
  color: $grey-color;
}
