/**
 * Posts  **********************************************************
 */
.post-header {
  margin-bottom: $vertical-spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 0px;
}

.post-link {
  display: block;
  font-size: 42px;
}
