/**
 * Site footer  **********************************************************
 */
 .site-footer {
  border-top: 1px solid $grey-color-dark;
  font-size: 10px;
  background-color: $grey-color-dark;
  padding: 2px;
  color: #aaa;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
}

.site-footer p {
    margin-bottom: 0; // Remove margin set in _sass/_base.scss for vertical rythm
}