---
layout: default
---
<div class="post">

  <div class="header-bar">
    <img class="img-circle drop-shadow" src="/img/prof_pic.jpg">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.description }}</h2>
    <hr>
  </div>

  <article class="post-content">
    {{ content }}
  </article>


  <hr/>

  <span class="contacticon center">
    <a href="https://github.com/{{ site.author.github_username }}/" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-square"></i></a>
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://twitter.com/{{ site.author.twitter_username }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/{{ site.author.instagram_username }}" target="_blank"><i class="fa fa-instagram"></i></a>
  </span>

</div>
